html, body {
    margin: 0;
    height: 100%;
}

p, label, button {
    font-family:Arial, Helvetica, sans-serif;
}

label {
    font-weight: bold;
    font-size: 14px;
}

div {
    height: 100%;
}

body {
    display: flex;
}

.leftSide {
    background: url('./resources/background.jpg');
    background-size: cover;
    width: 40%;
}

.logoBanner {
    height: 200px;
    background-color: rgba(0,0,0,.5);
    position: relative;
    top: 110px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.one, .two, .three {
    padding-left: 50px;
}

.one {
    background-color: lightgray;
    padding-right: 100px;
}

.one p {
    position: relative;
    top: 50px;
}

.one p, .two p {
    font-weight: bold;
    font-size: 24px;
}

.three {
    background-color: lightgray;
}

.three p {
    font-weight: bold;
    font-size: 18px;
}

@font-face {
    font-family: norse-bold;
    src: url(./resources/Norse-Bold.otf);
}

.logoText {
    font-family: norse-bold;
    color: white;
    font-size: 64px;
}

img {
    height: 125px;
    width: 100px;
}

form {
    display: flex;
    gap: 75px;
}

.formLeft, .formRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    padding: 16px 64px;
    margin-top: 36px;
}

a {
    color: #596D48;
}